.shopping-list-page-wrapper {
  height: 100%;
  width: 85%;
  margin: auto;
}
.shopping-items-wrapper {
  padding-top: 30px;
}
#shopping-list-h3 {
  background-color: rgb(255, 252, 252);
  color: #1d5346;
  border: solid 1px;
  border-color: rgb(229, 229, 229);
  border-radius: 30px;
  width: 35%;
  padding: 10px;
  box-shadow: 1px 1px 1px 0px rgb(182, 182, 182);
}
.list-group-item {
  width: 100%;
  display: flex !important;
  justify-content: space-around;
}
.form {
  display: flex;
}
.list-group-flush {
  border-radius: 30px !important;
  box-shadow: 0px 3px 5px 0px rgba(216, 231, 232, 1);
  display: flex;
}
.list-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrows-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.quantity-buttons {
  display: flex;
  align-items: center;
  width: 20%;
}
.container-title {
  display: flex;
  width: 40%;
  align-items: center;
}
.container-check-box {
  width: 30%;
  align-items: center;
  justify-items: center;
}
svg {
  box-shadow: 0px 3px 5px 0px rgba(216, 231, 232, 1);
}
.down-arrow {
  padding-left: 10px;
  padding-right: 10px;
}
.up-arrow {
  padding-right: 10px;
}

#shopping-list-h1 {
  background-color: rgb(255, 252, 252);
  width: 30%;
  color: #1d5346;
  border: solid 1px;
  border-color: rgb(229, 229, 229);
  border-radius: 40px;
  padding: 10px;
  box-shadow: 1px 1px 1px 0px rgb(182, 182, 182);
}
.container-title {
  display: flex;
  align-items: center;
}

.arrow-up:hover {
  color: #42927e;
}

.arrow-down:hover {
  color: #42927e;
}

.arrow-up {
  color: #54bba1;
  width: 1.3em !important;
  border: 1px solid;
  border-color: #42927e;
  height: 1.3em !important;
  border-radius: 4px !important;
  box-shadow: 1px 1px 1px 0px rgb(182, 182, 182) !important;
}
.arrow-down {
  color: #54bba1;
  border: 1px solid #42927e;
  border-radius: 4px !important;
  width: 1.3em !important;
  height: 1.3em !important;
  box-shadow: 1px 1px 1px 0px rgb(182, 182, 182) !important;
}
