.create-garden-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-garden-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-garden-stack {
  flex: 0 !important;
}
