.dashboard-wrapper {
  height: 100%;
}
#carousel-for-dashboard {
  color: black;
  text-align: center;
  width: 100%;
  height: 100% !important;
}

.carousel {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  flex: 1;
  margin-left: 3%;
  margin-right: 3%;
  height: 600px;
  height: 100%;
}

.card {
  border-radius: 30px !important;
  box-shadow: 1px 2px 2px 0px rgb(111, 117, 130) !important;
}
.carousel-mother {
  display: flex;
  height: 100%;
  background-color: #c9e7e9;
}

.forecast-card-mother {
  display: flex;
  align-items: start;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.forecast-card {
  flex: 1;
}
.forecast-slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .card {
  background-image: url("https://mdbgo.io/ascensus/mdb-advanced/img/clouds.gif") !important;
} */
.forecast-slide,
.tips-slide,
.notice-slide {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.carousel-control-next-icon {
  background-color: #54bba1 !important;
  border: solid 1px #54bba1;
  border-radius: 20px;
  width: 70px !important;
  height: 50px !important;
}

.carousel-control-prev-icon {
  background-color: #54bba1 !important;
  border: solid 1px #54bba1;
  border-radius: 20px;
  width: 70px !important;
  height: 50px !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #54bba1 !important;
}
.tips-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70%;
}
.reminder-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}

.reminder-h1 {
  text-align: center;
  padding-bottom: 40px;
}
.tip-h1 {
  text-align: center;
  padding-bottom: 40px;
}

#weather-title {
  padding-bottom: 40px !important;
  width: 100%;
  /* display: flex !important;
  align-items: space-evenly !important; */
}
.tip-of-the-day {
  text-align: center !important;
  width: 80%;
  margin: 0 !important;
  font-size: 1.1rem;
}
.image-div {
  height: 100%;
}
.alert-warning {
  display: flex;
  justify-content: center;
  text-align: center !important;
  box-shadow: 0px 3px 5px 0px rgba(140, 119, 119, 0.25) !important;
}
.carousel-item.active {
}
.carousel-item-next {
}
.carousel-item-prev {
}
#light-bulb {
  width: 3em !important;
}
