.garden-page-wrapper {
  height: 100%;
  width: 85%;
  margin: auto;
}

.title-button-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-planted-at {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.plant-items-wrapper {
  padding-top: 30px;
}

.list-group-item {
  width: 100%;
  display: flex !important;
  justify-content: space-around;
}
.form {
  display: flex;
}
.list-group-flush {
  border-radius: 30px !important;
  box-shadow: 0px 3px 5px 0px rgba(216, 231, 232, 1);
  display: flex;
  border: solid 1px;
  border-color: rgb(233, 233, 233);
}
.list-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  width: 40%;
  align-items: center;
}
.container-check-box {
  width: 20%;
  align-items: end;
}
.container-remove-button {
  display: flex;
  align-items: center;
}

.container-check-box {
  display: flex;
  align-items: center;
}
.calendar-button {
  display: flex;
  justify-content: center;
}
.edit-garden-button {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
#garden-h2 {
  background-color: white;
  border: solid 1px;
  border-color: rgb(233, 233, 233);
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(216, 231, 232, 1);
}

#garden-h3 {
  background-color: rgb(255, 255, 255);
  border: solid 1px;
  border-color: rgb(233, 233, 233);
  border-radius: 30px;
  width: 35%;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(216, 231, 232, 1);
}
.collapse-text {
  padding-top: 30px;
}
.add-to-garden {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.add-to-shopping-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#garden-location-h4 {
  color: grey;
  text-align: right;
}
